<footer>
    <div class="container">
        <p>&copy; 2025 <a href="https://netherportalcalculator.site" target="_blank"> NPC </a>| Made with ❤️ - Minecraft is a trademark of Mojang AB</p>
        <nav>
            <ul>
                <li><a href="privacy-policy.html">Privacy Policy</a></li>
                <li><a href="disclaimer.html">Disclaimer</a></li>
                <li><a href="terms.html.html">Terms</a></li>
                <li><a href="sitemap.xml">Sitemap</a></li>
            </ul>
        </nav>
    </div>
</footer>
