<!-- footer.html -->
<footer class="mc-footer">
  <div class="mc-footer-bg"></div>
  <div class="mc-footer-content">
    <div class="mc-footer-icons">
      <img src="https://static.wikia.nocookie.net/minecraft_gamepedia/images/4/44/Obsidian.png"
           alt="Obsidian block" class="mc-footer-icon"/>
      <img src="https://static.wikia.nocookie.net/minecraft_gamepedia/images/7/7a/Grass_Block.png"
           alt="Grass block" class="mc-footer-icon"/>
      <img src="https://static.wikia.nocookie.net/minecraft_gamepedia/images/2/21/Nether.png"
           alt="Nether block" class="mc-footer-icon"/>
    </div>
    <p class="mc-footer-title">Made for Minecraft adventurers • All rights reserved</p>
    <nav class="mc-footer-nav">
      <a href="/" class="mc-footer-link">Home</a>
      <a href="#coordinates" class="mc-footer-link">Coordinate Calc</a>
      <a href="#construction" class="mc-footer-link">Build Calc</a>
      <a href="#tracker" class="mc-footer-link">Portal Tracker</a>
      <a href="#tips" class="mc-footer-link">Tips</a>
    </nav>
    <div class="mc-footer-legal">
      <span>&copy; 2025 Nether Portal Calculator | Not affiliated with Mojang or Microsoft.</span>
    </div>
  </div>
</footer>
